*,
::before,
::after {
  box-sizing: border-box;
}
/*test*/
body {
  font-size: 21px;
  margin: 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 2.9em;
  margin-top: 0;
  font-weight: bold;
}

h2 {
  margin-top: 0;
}

img {
  width: 100%;
}

p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin: 0 auto;
}

.section__intro {
  background-color: #f3eed9;
  color: #824936;
  padding: 7em;
  text-align: center;
}

.section__intro p {
  font-size: 0.86em;
  font-weight: lighter;
  text-transform: uppercase;
}

.section__main {
  padding: 5em;
}

.section__main h2 {
  text-align: center;
  color: #824936;
}

.section__secondary {
  padding: 5em;
  background-color: #222c2a;
  color: #fff;
}

.section__secondary h2 {
  color: #f3eed9;
}

.section__footer {
  padding: 5em;
  background-color: #824936;
  color: #fff;
}

.section__footer h2 {
  color: #f3eed9;
}

.section__content {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.section__text {
  width: 50%;
}

.section__image {
  align-self: flex-start;
  width: 50%;
}

